{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}
<div class="MainBody">
	{% for p in query %}
	<div class="Profile">
		<div class="ProfileHeading">Profile at a glance</div>
		<div class="ProfileBody">
			<div class="ProfileImageContainer"><img src="{{ p.Image.url }}"/></div>
			<div class="ProfileAbout">
				<div class="ProfileAboutRow">
				    <div class="ProfileFirst">Name</div>
				    <div class="ProfileFirst" style="color:#e0474c;">{{ p.Name }}</div>
			    </div>
			    <div class="ProfileAboutRow">
			    	<div class="ProfileFirst">Bio</div>
			    	<div class="ProfileFirst" style="color:#e0474c;">{{ p.Bio }}</div>
			    </div>
			    <div class="ProfileAboutRow">
			    	<div class="ProfileFirst">Currently</div>
			    	<div class="ProfileFirst" style="color:#e0474c;">{{ p.currently }}</div>
			    </div>
			    <div class="ProfileAboutRow">
			    	<div class="ProfileFirst">Projects</div>
            
			    	<div class="ProfileFirst" style="color:#e0474c;">{{ projectcount }}</div>
                
			    </div>
			    <div class="ProfileAboutRow">
			    	<div class="ProfileFirst">Stack</div>
			    	<div class="ProfileFirst" style="color:#e0474c;">{{ pstack}}</div>
			    </div>
                <div class="ProfileAboutRow" style="text-align: center;">
                   <div style="margin:auto;color:#e0474c;"> <a href="{%url 'profile' %}" style="color: #e0474c;font-weight: bolder;">View Profile</a></div>
                </div>
			</div>
		</div>
    </div>{% endfor %}
  
 <!-- {% if forloop.counter|mod:3 %}{% endif %} -->
    <div class="Projects">
    	<div class="ProfileHeading">Projects</div>
        {% for q in query %}
            {% for pro in q.projectsgagan_set.all %}
            {% if forloop.counter|mod:3 == 1 %}
            <div class="ProjectRow">
            {% endif %}
    		<div class="ProjectSampleCard">
                {% for im in pro.projectimage_set.all|slice:":1" %}
    			<img src="{{ im.image.url }}"/>
                {% endfor %}
    			<h3>{{ pro.Name }}</h3>
    			<p>{{ pro.desc }}</p>
    			<a href="Projects/{{pro.id}}" style=""><div>Know More</div></a>
    		</div>
            {% if forloop.counter|mod:3 == 0 %}
             </div>
             {% endif %}
            {% endfor %}
    	
        {% endfor %}
    </div>
   
    <div class="Projects">
    	<div class="ProfileHeading">Technical Stack</div>
        {% for q in query %}
          {% for pro in q.technicalstack_set.all %}
          {% if forloop.counter|mod:3 == 1 %}
    	<div class=ProjectRow>
            {% endif %}
    		<div class="ProjectSampleCard">

    			<img src="{{ pro.image.url  }}"/>
    			<h3>{{ pro.name }}</h3>
    			<p>{{ pro.desc }}</p>
    		</div>
            {% if forloop.counter|mod:3 == 0%}
    	</div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>

<div class="footer">This website is dynamic unlike other one pages online resume which contains static webpages<br/>Website coded and maintained by Gagan Singh<br/>All rights reserved<br/>Sapora Inc.</div>



</div>
<style type="text/css">
	.MainBody{
		position: absolute;
		top: 50px;
		left: 0px;
		width: 100%;
		height: auto;
        padding-bottom: 50px;
	}
	.Profile{
		width: 100%;
		height: auto;
		background-color: transparent;
		box-shadow: 4px 2px 2px 2px rgba(0,0,0,0.625);
	}
	.ProfileHeading{
		padding-top: 5px;
        width: 100%;
        background-color: #fff;
        text-align: center;
        height: 25px;
        background-color: #000;
		color: #e0474c;
		font-weight: bolder;
	}
	.ProfileBody{
		width: 100%;
		background-color: transparent;
		height: auto;
	}
	.ProfileImageContainer{
		margin:auto;
		margin-top: 10px;
		width: 150px;
		height: 150px;
		border-radius: 75px;
		background-color: #f7f7f7;
	}
	.ProfileImageContainer img{
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
	}
	.ProfileAbout{
		margin-top: 20px;
	    width: 100%;
	    height: auto;
	    background-color: transparent;
    }
    .ProfileAboutRow{
    	display: flex;
    	justify-content: space-between;
    	width: 100%;
    	height: 50px;
    }
    .ProfileFirst{
    	display: inline-block;
    	width: 50%;
    	height: 100%;
    	text-align: center;
    }
    .Projects{
    	width: 100%;
    	height: auto;
    	background-color: #f7f7f7;
    	padding-bottom: 20px;
    }
    .ProjectRow{
    	margin-top: 20px;
    	width: 92%;
    	height: auto;
    	background-color: transparent;
    	display: flex;
    	justify-content: space-between;
    	padding-left: 4%;
    	padding-right: 4%;
    	padding-bottom: 20px;
    }
    .ProjectSampleCard{
    	width: 250px;
    	height: auto;
    	background-color: #ffffff;
    	border-radius: 10px;
    	border: 1.5px solid rgba(0,0,0,0.125);
    	box-shadow: 8px 8px 8px 6px rgba(0,0,0,0.125);
    }
    .ProjectSampleCard img{
    	border-top-left-radius: 10px;
    	border-top-right-radius: 10px;
    	width: 100%;
    	height: 100px;
    	object-fit: cover;
    }
    .ProjectSampleCard h3{
    	width: 100%;
    	margin-top: -5px;
    	text-align: center;
    }
    .ProjectSampleCard p{
    	padding-left: 5%;
    	margin-top: -17px;
    	width: 90%;
    	height: 100px;
    	background-color:transparent;
}
    .ProjectSampleCard div{
    	margin: auto;
    	width: 100px;
    	height: 20px;
    	padding-top: 5px;
    	background-color:#e0474c;
    	color: #fff;
    	margin-top: 0px;
    	text-align: center;
    	border-radius: 10px;
    }
     .footer{
     	background-color: #f7f7f7;
        width: 100%;
        height: auto;
        color: #e0474c;
        text-align: center;
        font-weight: bolder;
  }
    @media(max-width: 450px){
    	.ProjectRow{
    		display: block;
    		margin-bottom: -35px;
    	}
    	.ProjectSampleCard{
    		width: 80%;
    		height: 300px;
    		margin-left: 10%;
    		margin-bottom: 15px;
    	}   	
    }
</style>
{% endblock %} 