{% extends 'base.html' %}
{% block content %}
{% load mathfilters %}
<div class="MainBody">
     <div class="Projects">
        <div class="ProfileHeading">Technical Stack</div>
        {% for q in query %}
          {% for pro in q.technicalstack_set.all %}
          {% if forloop.counter|mod:2 == 1 %}
        <div class=ProjectRow>
            {% endif %}
            <div class="ProjectSampleCard">

                <img src="{{ pro.image.url  }}"/>
                <h3>{{ pro.name }}</h3>
                <p>{{ pro.desc }}</p>
            </div>
            {% if forloop.counter|mod:2 == 0%}
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>




	<div class="footer">This website is dynamic unlike other one pages online resume which contains static webpages<br/>Website coded and maintained by Gagan Singh<br/>All rights reserved<br/>Sapora Inc.</div>
</div>
<style type="text/css">
    .ProfileHeading{
		padding-top: 5px;
        width: 98%;
        text-align: left;
        height: 50px;
        background-color: #f7f7f7;
		color: #e0474c;
		font-weight: bolder;
        padding-left: 2%;
		font-size: 30px;
	}
	.MainBody{
		position: absolute;
		top: 50px;
		left: 0px;
		width: 100%;
		height: auto;
        padding-bottom: 50px;
	}
	.Projects{
    	width: 100%;
    	height: auto;
    	background-color: #f7f7f7;
    	padding-bottom: 20px;
    }
      .ProjectRow{
        margin-top: 20px;
        width: 92%;
        height: auto;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 20px;
    }
     .ProjectSampleCard{
        
        width: 45%;
        height: auto;
        background-color: #ffffff;
        border-radius: 10px;
        border: 1.5px solid rgba(0,0,0,0.125);
        box-shadow: 8px 8px 8px 6px rgba(0,0,0,0.125);
    }
    .ProjectSampleCard img{
    	border-top-left-radius: 10px;
    	border-top-right-radius: 10px;
    	width: 100%;
    	height: 300px;
    	object-fit: cover;
    }
    .ProjectSampleCard h3{
    	width: 100%;
    	margin-top: -5px;
    	text-align: center;
    }
    .ProjectSampleCard p{
    	padding-left: 5%;
    	margin-top: -17px;
    	width: 90%;
    	height: auto;
    	background-color:transparent;
}
    @media(max-width: 450px){
    	.ProjectRow{
    		display: block;
            padding-bottom: 0px;
    	}
    	.ProjectSampleCard{
    		width: 80%;
    		height: auto;
    		margin-left: 10%;
    		margin-bottom: 15px;
            box-shadow: 2px 2px 2px 0px solid(0,0,0,0.125);
    	}   	
    }
	.footer{
     	background-color: #f7f7f7;
        width: 100%;
        height: auto;
        color: #e0474c;
        text-align: center;
        font-weight: bolder;
    }
</style>
{% endblock %}